<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet"/>
</head>
<body class="bg-dark-navy">
<nav class="fixed top-0 flex flex-row items-center w-screen sm:text-xl lg:text-lg lg:h-[7vh] sm:h-[5vh] p-2 bg-gray-500 text-black z-50 border-b-2 border-accent-gold">
    <img class="h-full" src="{{ url_for('static', filename='svg/WCU_logo.svg') }}"
         alt="Wester Colorado University Logo"/>
    <a class="ml-20 link" href="{{ url_for('index.index') }}">Home</a>
    <a class="ml-10 link" href="{{ url_for('index.wc') }}">Writing Center</a>
    <a class="ml-10 link" href="{{ url_for('index.llc') }}">LLC</a>
</nav>
{% block body %}
{% endblock %}
<script src="{{ url_for('static', filename='javascript/card-transition.js') }}"></script>
</body>
</html>