{% extends "base.html" %}
{% from "components.html" import hero, grid, card %}

{% block body %}
    {{ hero("WCU Resource Guide", url_for('static', filename='images/index-hero.jpg')) }}
    <section class="flex flex-col justify-center items-center space-y-24 mt-16 mb-16">

        {{ grid(['people.svg', 'money.svg', 'map.svg', 'examine.svg'], grid_texts) }}
        <div class="relative w-full h-fit overflow-hidden">
            <!-- Carousel container -->
            <div class="flex transition-transform duration-500" id="carousel">
                <!-- Cards side by side -->
                <div id="card-WC" class="flex justify-center w-full flex-shrink-0">
                    {{ card(url_for('static', filename='images/Writing Center.jpg'), "Writing Center", card_texts[0], border='accent-red', href=url_for('index.wc')) }}
                </div>
                <div id="card-LLC" class="flex justify-center w-full flex-shrink-0">
                    {{ card(url_for('static', filename='images/LLC.jpg'), "Lambda Learning Center", card_texts[1], border='accent-gold', href=url_for('index.llc')) }}
                </div>
            </div>

            <!-- Chevrons -->
            <img id="chevron-right" onclick="slideCards('right')"
                 class="absolute w-[2vw] sm:right-10 lg:right-60 top-1/2 -translate-y-1/2 hover:scale-125 duration-1000 rounded-full cursor-pointer z-10"
                 src="{{ url_for('static', filename='svg/chevron-right.svg') }}"/>
            <img id="chevron-left" onclick="slideCards('left')"
                 class="rotate-180 absolute w-[2vw] sm:left-10 lg:left-60 top-1/2 -translate-y-1/2 hover:scale-125 duration-1000 rounded-full cursor-pointer z-10"
                 src="{{ url_for('static', filename='svg/chevron-right.svg') }}"
                 style="opacity:0;"/>
        </div>

    </section>

{% endblock %}