{% extends "base.html" %}
{% from "components.html" import hero, card, grid, calender, comment_board %}


{% block body %}
    {{ hero("Lamda Learning Center", url_for('static', filename='images/llc-page.jpg')) }}
    <div class="flex flex-col justify-center items-center w-full h-fit space-y-32 mt-20">

        {{ grid(['brain.svg', 'tools.svg', 'support.svg', 'hours.svg'], services_grid) }}

        <div class="relative w-full h-fit overflow-hidden">
            <!-- Carousel container -->
            <div class="flex transition-transform duration-500" id="carousel">
                <!-- Cards side by side -->
                <div id="card-WC" class="flex justify-center items-center w-full flex-shrink-0">
                    {{ card(image=url_for('static', filename='images/hours.jpg'), title="Hours", content=calender(schedule), border='accent-gold') }}
                </div>
                <div id="card-LLC" class="flex justify-center items-center w-full flex-shrink-0">
                    {{ card(image=url_for('static', filename='images/LLC.jpg'), title='Location', par=location_card,border='accent-gold' ) }}
                </div>
            </div>

            <!-- Chevrons -->
            <img id="chevron-right" onclick="slideCards('right')"
                 class="absolute w-[2vw] sm:right-10 lg:right-60 top-1/2 -translate-y-1/2 hover:scale-125 duration-1000 rounded-full cursor-pointer z-10"
                 src="{{ url_for('static', filename='svg/chevron-right.svg') }}"/>
            <img id="chevron-left" onclick="slideCards('left')"
                 class="rotate-180 absolute w-[2vw] sm:left-10 lg:left-60 top-1/2 -translate-y-1/2 hover:scale-125 duration-1000 rounded-full cursor-pointer z-10"
                 src="{{ url_for('static', filename='svg/chevron-right.svg') }}"
                 style="opacity:0;"/>
        </div>

        {{ comment_board(questions, url_for('main.submit_llc')) }}

    </div>
{% endblock %}